/* 기록 페이지 */

.tab-menu {
  margin: 60px auto;
  display: flex;
  border-bottom: 2px solid #ccc;
  margin-bottom: 20px;
  max-width: 1200px;
}

.tab-menu button {
  flex: 1;
  padding: 18px;
  font-size: 1.15em;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
  border-right: 1px solid #ccc;
  transition: background-color 0.2s, color 0.2s;
}

.tab-menu button.active {
  background-color: #0b3d91;
  color: white;
  font-weight: bold;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

table {
  margin: 60px auto;
  width: 85%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  border: 1px solid #ccc;
  text-align: center;
  padding: 10px;
  font-size: 1em;
}

th {
  padding: 13px;
  background-color: #d4b48e;
  color: #222;
}

.select-year {
  text-align: right;
  margin-top: 10px;
  padding: 8px;
  margin-right: 80px;
}

h2, .h-top {
  margin: 25px 80px;
  color: #000000;
}

select {
  padding: 7px;
  font-size: 18px;
}

.topteam {
  color: #d4b48e;
  font-weight: 900;
}

label {
  font-size: 19px;
  font-weight: 700;
}

.drate {
  background-color: lightgrey;
}

