/* 공통 상단 비주얼 */
.visual {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d9e6f4;
  padding: 20px 10%;
  overflow: hidden;
}

/* 텍스트 영역 */
.visual-text {
  flex: 1;
  text-align: left;
  margin: 0 auto;
  max-width: 900px;
  width: 100%;
  box-sizing: border-box;
  margin: 1%;
}

.visual-text h1 {
  font-size: 2.7rem;
  font-weight: bold;
  margin-bottom: 18px;
}

.visual-text p {
  font-size: 1.3rem;
  line-height: 1.7;
  word-break: keep-all;
}

/* 로고 영역 */
.visual-logo {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.visual-logo img {
  width: 100%;
  max-width: 250px;
  height: auto;
  object-fit: contain;
  transition: all 0.3s ease;
}

/* 반응형 설정 */
/* 테블릿 */
@media (max-width: 1024px) {
  .visual {
    flex-direction: column;
    text-align: center;
    gap: 25px;
    padding: 30px 6%;
  }

  .visual-text {
    order: 1;
    text-align: center;
    margin: 0 auto;
    max-width: 90%;
  }

  .visual-logo {
    order: 2;
    justify-content: center;
  }

  .visual-logo img {
    width: 70%;
  }

  .visual-text h1 {
    font-size: 2.2rem;
  }

  .visual-text p {
    font-size: 1.2rem;
  }

  .stadium-gallery-track {
    height: clamp(280px, 50vh, 500px);
  }
  .seat {
    max-width: 90%;
    margin: 2%;
  }
}

/* 모바일 */
@media (max-width: 600px) {
  .visual {
    flex-direction: column;
    text-align: center;
    padding: 25px 5%;
    gap: 25px;
  }

  .visual-text {
    text-align: center;
    margin: 0 auto;
    max-width: 95%;
  }

  .visual-text h1 {
    font-size: 1.9rem;
  }

  .visual-text p {
    font-size: 1.1rem;
  }

  .visual-logo {
    order: 2;
    justify-content: center;
  }

  .visual-logo img {
    width: 60%;
  }

  .stadium-gallery-track {
    height: clamp(240px, 45vh, 400px);
  }
  .seat {
    max-width: 85%;
    margin: 5%;
  }
}
